@using FrontendAccountManagement.Web.Constants
@model FrontendAccountManagement.Web.ViewModels.AccountManagement.EditUserDetailsViewModel

@{
    ViewData["Title"] = Localizer["CheckYourDetails"];

    bool isUpdatable = @ViewBag.IsUpdatable;
}

@using (Html.BeginForm("CheckYourDetails", "AccountManagement", FormMethod.Post))
{
    <input type="hidden" asp-for="FirstName" />
    <input type="hidden" asp-for="LastName" />
    <input type="hidden" asp-for="JobTitle" />
    <input type="hidden" asp-for="Telephone" />
    <input type="hidden" asp-for="OriginalFirstName" />
    <input type="hidden" asp-for="OriginalLastName" />
    <input type="hidden" asp-for="OriginalJobTitle" />
    <input type="hidden" asp-for="OriginalTelephone" />

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
            <h1 class="govuk-fieldset__heading govuk-label--l">
                @Localizer["CheckYourDetails"]
            </h1>

            <br />

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                        <div class="govuk-summary-list__row">
                            <div class="govuk-!-margin-right-3">
                                <dt class="govuk-summary-list__key">
                                    @Localizer["FirstName"]
                                </dt>
                            </div>
                            <dd class="govuk-summary-list__value">
                                @Localizer[Model.FirstName].Value
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="~/@PagePath.ApprovedPersonNameChange">
                                    @SharedLocalizer["Change"] <span class="govuk-visually-hidden"></span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <div class="govuk-!-margin-right-3">
                                <dt class="govuk-summary-list__key">
                                    @Localizer["LastName"]
                                </dt>
                            </div>
                            <dd class="govuk-summary-list__value">
                                @Localizer[Model.LastName].Value
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="~/@PagePath.ApprovedPersonNameChange">
                                    @SharedLocalizer["Change"] <span class="govuk-visually-hidden"></span>
                                </a>
                            </dd>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.JobTitle))
                        {
                            <div class="govuk-summary-list__row">
                                <div class="govuk-!-margin-right-3">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["JobTitle"]
                                    </dt>
                                </div>
                                <dd class="govuk-summary-list__value">
                                    @Localizer[Model.JobTitle].Value
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="~/@PagePath.ApprovedPersonRoleChange">
                                        @SharedLocalizer["Change"] <span class="govuk-visually-hidden"></span>
                                    </a>
                                </dd>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.Telephone))
                        {
                            <div class="govuk-summary-list__row">
                                <div class="govuk-!-margin-right-3">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["TelephoneNumber"]
                                    </dt>
                                </div>

                                <dd class="govuk-summary-list__value">
                                    @Localizer[Model.Telephone].Value
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="~/@PagePath.ApprovedPersonPhoneNumberChange">
                                        @SharedLocalizer["Change"] <span class="govuk-visually-hidden"></span>
                                    </a>
                                </dd>
                            </div>
                        }
                        <div class="govuk-!-margin-right-3">
                            <br />
                            <br />
                            <dt class="govuk-summary-list__value">
                                <button class="govuk-button" data-module="govuk-button" type="submit">
                                    @(isUpdatable ? @Localizer["SaveAndContinue"] : @Localizer["Continue"])
                                </button>
                            </dt>
                        </div>
                    </dl>
                    <br />
                    <br />
                </div>
            </div>
        </main>
    </div>
}