@using FrontendAccountManagement.Web.ViewModels.AccountManagement
@model CompanyDetailsUpdatedViewModel

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                        @Localizer["Header"]
                    </h1>
                </div>
                <p class="govuk-body">@Localizer["ChangedBy"]  @Model.UserName at @Model.ChangeTime on @Model.ChangeDate.</p>
                <p class="govuk-body govuk-!-font-weight-bold">@Localizer["WhatHappensNext"]</p>
                <p class="govuk-body">@Localizer["Body"]</p>
                <a asp-action="ManageAccount" asp-controller="AccountManagement" class="govuk-link" data-module="govuk-link">
                    @Localizer["ManageAccountLink"]
                </a>
            </div>
        </div>
    </main>
</div>