@using FrontendAccountManagement.Web.ViewModels.AccountManagement
@using FrontendAccountManagement.Web.ViewModels.Shared.GovUK
@using FrontendAccountManagement.Web.Extensions
@* @using FrontendAccountCreation.Web.ViewModels.Shared.GovUK
@using FrontendAccountCreation.Web.Extensions *@

@model SelectBusinessAddressViewModel

@{
    ViewData["Title"] = Localizer["SelectBusinessAddress.Title"];
    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)

                <form asp-controller="AccountCreation" asp-action="SelectBusinessAddress" method="post">
                    <div class="govuk-form-group">
                        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                            @Localizer["SelectBusinessAddress.Question"]
                        </h1>

                        <div class="govuk-form-group">
                            <p class="govuk-body govuk-!-margin-bottom-0">@Localizer["SelectBusinessAddress.Hint"]</p>
                            <span>
                                <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-right-3">@Model?.Postcode?.ToUpper()</span>
                                <a href="~/business-address-postcode" class="govuk-link govuk-link--no-visited-state">@SharedLocalizer["Change"]</a>
                            </span>
                        </div>

                        <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
                            <label class="govuk-label govuk-!-font-weight-bold" for="@nameof(Model.SelectedListIndex)">
                                @Localizer["SelectBusinessAddress.ListLabel"]
                            </label>

                            @await Html.PartialAsync("Partials/Govuk/_ErrorList", errorsViewModel)

                            <div class="govuk-form-group">
                                <select class="govuk-select"
                                        id="@nameof(Model.SelectedListIndex)"
                                        asp-for="SelectedListIndex"
                                        asp-items="Model.AddressItems">
                                    @if (Model.AddressItems.Count > 0)
                                    {
                                        <option value="">@Localizer["SelectBusinessAddress.NumberOfAddressesFound", Model.AddressItems.Count]</option>
                                    }
                                    else
                                    {
                                        <option value=""></option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="govuk-body">                            
                            <a asp-controller="AccountManagement" asp-action="BusinessAddress" class="govuk-link">@Localizer["SelectBusinessAddress.AddressNotFoundLink"]</a>
                        </div>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">
                        @SharedLocalizer["Continue"]
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>
