@using FrontendAccountManagement.Web.Extensions
@using FrontendAccountManagement.Web.ViewModels.Shared.GovUK
@using FrontendAccountManagement.Web.ViewModels.ReExAccountManagement

@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@model ViewDetailsViewModel

@{
    ViewData["Title"] = Localizer["DetailsAndAccountPermissions"];
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
                    @Localizer["DetailsAndAccountPermissions"]
                </h1>
            </div>

            <div class="govuk-summary-list__row">
                <div class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-right-3">
                    <label class="govuk-label" for="Email">@Localizer["Email"]</label>
                </div>
                <div class="govuk-summary-list__value">@Model.Email</div>
            </div>

            <div class="govuk-summary-list__row">
                <div class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-right-3">
                    <label class="govuk-label" for="AccountRole">@Localizer["AccountRole"]</label>
                </div>
                <div class="govuk-summary-list__value">@Model.AccountRole</div>
            </div>

            <div class="govuk-summary-list__row">
                <div class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-right-3">
                    <label class="govuk-label" for="AccountPermissions">@Localizer["AccountPermissions"]</label>
                </div>
                <div class="govuk-summary-list__value">@Model.AccountPermissions</div>
            </div>

            <div class="govuk-summary-list__row">
                <div class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-right-3">
                    <label class="govuk-label" for="AddedBy">@Localizer["AddedBy"]</label>
                </div>
                <div class="govuk-summary-list__value">@Model.AddedBy</div>
            </div>
        </div>
    </main>
</div>